<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
	<mapper namespace="com.jeh.mapper.AttachMapper">
		<!-- notice -->
		<!-- attach 테이블에 insert -->
		<insert id="insert">
			INSERT INTO attach(uuid,uploadPath,fileName,image,nno)
			VALUES (#{uuid},#{uploadPath},#{fileName},#{image},#{nno})
		</insert>
		
		<select id="fileList" resultType="com.jeh.domain.AttachFileDTO">
			SELECT *
			FROM attach
			WHERE nno=#{nno}
		</select>
		
		<!-- notice 수정 -> 기존 파일 삭제 -->
		<delete id="deleteNoticeFile">
		    DELETE FROM attach
    		WHERE nno=#{nno}
		</delete>
		
		<!-- product -->
		<!-- attach 테이블에 insert -->
		<insert id="insert2">
			INSERT INTO attach(uuid,uploadPath,fileName,image,pno)
			VALUES (#{uuid},#{uploadPath},#{fileName},#{image},#{pno})
		</insert>
		
		<select id="fileList2" resultType="com.jeh.domain.AttachFileDTO">
			SELECT * FROM attach
			WHERE pno IS NOT NULL
		</select>
		
		<select id="detailFile" resultType="com.jeh.domain.AttachFileDTO">
			SELECT *
			FROM attach
			WHERE pno=#{pno}
		</select>
		
		<!-- pruduct 수정 -> 기존 파일 삭제 -->
		<delete id="deleteFile">
		    DELETE FROM attach
    		WHERE pno=#{pno}
		</delete>
		
		<!-- pruduct 삭제 -> 파일 삭제 -->
		<delete id="deleteFile2">
		    DELETE FROM attach
    		WHERE pno=#{pno}
		</delete>
		

	</mapper>