<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeh.mapper.NoticeMapper">
	<!-- 1.글 쓰기 -->
	<insert id="write">
		INSERT INTO notice(title, content, writer)
		VALUES(#{title}, #{content}, #{writer})
	</insert>
    
	<!-- 2-1.글 목록 + 페이징-->
	<select id="list" resultType="com.jeh.domain.NoticeDTO">
		SELECT * 
		FROM(SELECT @rownum:=@rownum+1 AS rownum, n.*
			FROM (SELECT @rownum:=0) AS rnt,
			notice AS n
		) AS noticeList
		<choose>
			<when test="search == null">
				WHERE 1 = 1
			</when>
			<when test="search == 'T'.toString()">
				WHERE title like CONCAT('%', #{keyword}, '%')
			</when>
			<when test="search == 'C'.toString()">
				WHERE content like CONCAT('%', #{keyword}, '%')
			</when>
			<when test="search == 'W'.toString()">
				WHERE writer like CONCAT('%', #{keyword}, '%')
			</when>
			<otherwise>
				WHERE title like CONCAT('%', #{keyword}, '%')
				OR content like CONCAT('%', #{keyword}, '%')
			</otherwise>
		</choose>
		<![CDATA[
				AND rownum > (#{pageNum}-1)*#{amount} AND rownum <= #{pageNum}*#{amount}
		]]>
	</select>
	
	<!-- 2-2.게시판 페이징 - 글 전체 갯수-->
	<!-- 검색에 적용되게 하기 위해 위의 SELECT문을 그대로 가져와서 수정 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM notice
		<choose>
			<when test="search == null">
				WHERE 1 = 1
			</when>
			<when test="search == 'T'.toString()">
				WHERE title like CONCAT('%', #{keyword}, '%')
			</when>
			<when test="search == 'C'.toString()">
				WHERE content like CONCAT('%', #{keyword}, '%')
			</when>
			<when test="search == 'W'.toString()">
				WHERE writer like CONCAT('%', #{keyword}, '%')
			</when>
			<otherwise>
				WHERE title like CONCAT('%', #{keyword}, '%')
				OR content like CONCAT('%', #{keyword}, '%')
			</otherwise>
		</choose>
	</select>
	
	<!-- 3-1.글 상세 -->
	<select id="detail" resultType="com.jeh.domain.NoticeDTO">
		SELECT * FROM notice
		WHERE nno=#{nno}
	</select>
	<!-- 3-2.글 조회수 업데이트 -->
	<update id="hitUpdate">
		UPDATE notice
		SET hit = hit + 1
		WHERE nno = #{nno}
	</update>
    
    <!-- 4.글 수정 -->
    <update id="modify">
    	UPDATE notice
    	SET title=#{title},
    		content=#{content},
    		regdate=now()
    	WHERE nno=#{nno}
    </update>
    
    <!-- 5.글 삭제 -->
    <delete id="delete">
    	DELETE FROM notice
    	WHERE nno=#{nno}
    </delete>
</mapper>