<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeh.mapper.ProductMapper">
	<!-- 1.상품 등록 -->
	<insert id="productReg">
		INSERT INTO product(pname, pprice, pstock, pmemo, cid)
		VALUES(#{pname}, #{pprice}, #{pstock}, #{pmemo}, #{cid})
	</insert>
	
	<!-- 2.상품 목록 -->
	<select id="shopList" resultType="com.jeh.domain.ProductDTO">
		SELECT * FROM product
	</select>

	<!-- 3.상품 상세 -->
	<select id="shopDetail" resultType="com.jeh.domain.ProductDTO">
		SELECT * FROM product
		WHERE pno=#{pno}
	</select>
</mapper>